/* css for phone */
*{
	margin: 0;
	padding: 0;
}
body{
	background:#FEFEFE;
	overflow-x:hidden;
	touch-action: cross-slide-y;
	/* overflow-scrolling: touch; */
}
.top{
	height: 30px;
	line-height: 30px;
	background:#FEFEFE;
}
.top li{
	display: inline-block;
	float: right;
	font-size: 16px;
	border: rgba(0,0,255,0.3) solid 1px;
}
.top li:hover{
	border: rgba(0,0,205,0.9) solid 1px;
	background:  rgba(0,0,205,0.1);
}
.top a{
	color: #0062CC;
	padding: 0 5px;
	text-decoration: none;
}

.nav{
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	background: #FEFEFE;/*要与背景色相同*/
	position:relative;
	z-index: 2;
}
.nav li{
	display: inline-block;
	width: 23%;
	height: 30px;
	line-height: 30px;
	border: #0078E7 solid 1px;
	border-radius: 5px;
	background: #0078E7;
	position: relative;
}
.nav li:hover{
	background: #999999;
}
.nav a{
	color: #FFFFFF;
	text-decoration: none;
}
.main{
	position: relative;
	margin:10px 20px 0;
}
.main h2{
	background:#31AAB9;
	text-shadow: #FFFFFF 1px 1px;
	color:#FFFFFF;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;	
}
.main p{
	text-indent: 2em;
	margin: 5px 0;
	color: #62ACDF;
	font-family:"microsoft yahei";
}
.video{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position:relative;
}
#video{
	width: 96%;
	margin:10px 0;
	margin-left: 50%;
	left:-48%;/*居中*/
	position: relative;
	z-index: 9;
}
.foot {
	height: 40px;
	width: 100%;
	text-align: center;
	position: relative;
	color: rgba(0, 150, 255, 0.6);
}