/**
 * CSS Document  
 */
	body{
		margin: 0;
	}
	.top{
		margin-top: 30px;
		right: 30px;
		z-index: 999;/*浮动在最上层*/
		position: absolute;
	}
	.top>ul>li{
		display: inline-block;
		color: #662299;/*设置列表中所有内容的字体颜色*/
		background: #FF6622;
		border: #666666 solid 1px;
		border-radius: 5px;
		transform: skew(30deg);
		padding: 0px 20px;
		line-height: 40px;
	}
	.top>ul>li>a{
		display: inline-block;
		transform: skew(-30deg);
		text-decoration: none;	
	}
	.top li:hover{
		background: #155A8B;
		color: #669955;
	}
	/* 头部导航栏下的二级导航栏 */
	#secondList{
		display: none;
		list-style: none;
	}
	/* 对二级列表重新设置样式 */
	#secondList li{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0 38px;
		border:#666666 solid 1px;
		transform: skewX(0deg);
		position: absolute; /*设置二级列表的位置*/
		top: 45px;
		right: 0px;
		margin-right: -10px;
	}
	#secondList a{
		transform: skew(0,0);
	}
	.banner{
		width: 100%;
		margin: 0 auto;
		height: 720px;
		background: #F6666F;
	}
	.video{
		margin: 0 auto;
		width: 80%;
		height:80%;
		top: 120px;
		left: 50%;
		margin-left: -40%;
		position: absolute;
	}
	#video{
		width: 100%;
		height: 98%;
	}
	.foot {
	height: 40px;
	width: 100%;
	text-align: center;
	position: absolute;
	color: rgba(0, 150, 255, 0.6);
	bottom: 0;
	}