/* css for phone */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: syht;
    src: url("/font/NotoSansCJK-Regular-1.otf");
}

body {
    background: #FEFEFE;
    overflow-x: hidden;
    touch-action: cross-slide-y;
    /* overflow-scrolling: touch; */
    font-family: syht;
}

.top {
    height: 30px;
    line-height: 30px;
    background: #FEFEFE;
}

.top li {
    display: inline-block;
    float: right;
    font-size: 16px;
    border: rgba(0, 0, 255, 0.3) solid 1px;
}

.top li:hover {
    border: rgba(0, 0, 205, 0.9) solid 1px;
    background: rgba(0, 0, 205, 0.1);
}

.top a {
    color: #0062CC;
    padding: 0 5px;
    text-decoration: none;
}

.nav {
    height: 45px;
    line-height: 45px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #0078E7;
    position: relative;
    z-index: 2;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    width: 22%;
    height: 45px;
    font-size: 1.2rem;
    margin: 0;
    background: #0078E7;
    position: relative;
}

.nav li:hover {
    background: #999999;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.main {
    position: relative;
    margin: 10px 20px 0;
}

.main img {
    width: 100%;
    margin: 5px 0;
}

.main h2 {
    background: #31AAB9;
    /* text-shadow: #FFFFFF 1px 1px; */
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.main h3 {
    text-align: left;
    margin: 20px 0;
    padding: 0;
}

.main p {
    text-indent: 2em;
    margin: 5px 0;
    color: #62ACDF;
}

.video {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    position: relative;
}

#video {
    width: 96%;
    margin: 10px 0;
    margin-left: 50%;
    left: -48%;
    /*居中*/
    position: relative;
    z-index: 9;
}

.foot {
    height: 40px;
    width: 100%;
    text-align: center;
    position: relative;
    color: rgba(0, 150, 255, 0.6);
}