/**
 * CSS Document  
 */
	body{
		margin: 0;
		/* 使字体更加圆滑 */
		-webkit-font-smoothing:antialiased;
	}
	.top{
		margin-top: 30px;
		right: 30px;
		z-index: 999;/*浮动在最上层*/
		position: absolute;
	}
	.top>ul>li{
		display: inline-block;
		color: #FFFFFF;/*设置列表中所有内容的字体颜色*/
		background:rgba(0,102,255,0.2);
		border: #666666 solid 1px;
		border-radius: 5px;
		transform: skew(30deg);
		padding: 0px 20px;
		line-height: 40px;
	}
	.top>ul>li>a{
		display: inline-block;
		transform: skew(-30deg);
		text-decoration: none;	
	}
	.top li:hover{
		background:rgba(0,102,255,0.1);
	}
	.banner{
		width: 100%;
		margin: 0 auto;
		min-height: 720px;
		background: #F6666F;
		background-size: 100%;
		overflow: hidden;
	}
	.video{
		margin: 0 auto;
		width: 60%;
		
		top: 20%;
		left: 50%;/*居中处理*/
		margin-left: -30%;
		position: absolute;
	}
	#video{
		width: 100%;
		height: 100%;
	}
	#toggle{
		/* 位置设置 */
		left: 5px;
		top: 5px;
		position: absolute;
		
		/* 样式设置 */
		border: #007BFF solid 1px;
		background: #0078E7;
		color: #FFFFFF;

	}
	
	.foot {
	height: 40px;
	width: 100%;
	text-align: center;
	position: relative;
	color: rgba(0, 150, 255, 0.6);
	
	}
	
	/* affix必要代码 */
	 ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #DDD;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
		text-align: center;
		color:#4169E1;
		
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
		text-align: center;
        background:#4169E1;
        border: 1px solid#4169E1;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
	/* end */
	
	#down{
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 0;
		left: 15px;
		margin-left: 50%;
	}
	#down img{
		width:100%;
		height:100%;
	}